<div class="app-courses-page" *ngIf="isAuth()===true">
	<app-bread-crumbs></app-bread-crumbs>
	<div class="search-and-add-course">
		<app-search-course (searchCourse)="searchCourse($event)"></app-search-course>
		<app-add-course (addCourse) = "addCourse($event)"></app-add-course>
	</div>
	<app-course-item *ngFor="let item of courseItems" [courseItem]="item" (update)="updateCourse($event)" (delete)="deleteCourse($event)" createdDate = "item.createDate"></app-course-item>
	<app-load-more [courseItems]="courseItems" (loadMore)="loadMoreCourses($event)"></app-load-more>
</div>

<div class="app-courses-page" *ngIf="isAuth()===false">
	<login-page></login-page>
</div>

<div *ngIf="addCoursePage===true">
	<add-course-page></add-course-page>
</div>

  
